<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin_app">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Admin_app">
        <activity
            android:name=".doctor.EditDoctor"
            android:exported="false" />
        <activity
            android:name=".doctor.DoctorAdapter"
            android:exported="false" />
        <activity
            android:name=".doctor.Doctorslist"
            android:exported="false" />
        <activity
            android:name=".MedicinesActivity"
            android:exported="false" />
        <activity
            android:name=".DiagnosisActivity"
            android:exported="false" />
        <activity
            android:name=".HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".VaccineActivity"
            android:exported="false" />
        <activity
            android:name=".ReportsActivity"
            android:exported="false" />
        <activity
            android:name=".PatientProfileActivity"
            android:exported="false" />
        <activity
            android:name=".PatientActivity"
            android:exported="false" />
        <activity
            android:name=".DandPActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.noAction.Admin_app">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".doctor.MainActivity"
            android:exported="true" />
    </application>

</manifest>